body {
    margin: 5px auto;
    width: 90%;
    background-image: url("/fotos/fondo2.jpg");
    
}
nav ul {
    margin-left: 250px;
    margin-right: 150px;
    font-family:'Trebuchet MS', 'Helvetica', 'Sans-Serif';
    font-size:30px;
    align-content: center;
}


nav ul li {
    display: inline;
    background-color:#D41C62;
}


a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 100px;
    font-family:'Trebuchet MS', 'Helvetica', 'Sans-Serif';
    color: #750C41;
    text-align: center;
    line-height: 120px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: center;

}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
