<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8">
<title>Glosas</title>
<link rel="stylesheet" href="{{ site.baseurl }}/style.css">

  <nav>
    		<ul>
        		<li><a href="/" style="color:#FFFFFF;">Inicio</a></li>
	        	<li><a href="/proyecto" style="color:#FFFFFF;">Proyecto</a></li>
        		<li><a href="/glosario" style="color:#FFFFFF;">Glosario</a></li>
        		<li><a href="/edicion" style="color:#FFFFFF;">Criterios de edición</a></li>
			<li><a href="/publicaciones" style="color:#FFFFFF;">Publicaciones</a></li>
			<li><a href="/trabajo" style="color:#FFFFFF;">Equipo de trabajo</a></li>
			<li><a href="/contacto" style="color:#FFFFFF;">Contacto</a></li>
    		</ul>
		</nav>
  

<main id="main" role="main">
{{ content }}

</div>
<nav id="autores">
<h2>Autores</h2>
{% for autore in site.autores %}
<a href="{{ autore.url }}">{{ autore.title }}</a>
{% endfor %}
</nav>
</main>
</html>
